<div class="container" style="margin-top:50px">
    <form class="row g-3" (ngSubmit)="actualizar()" ngNativeValidate>
        <div class="col-md-6">
          <label for="marca" class="form-label">Marca</label>
          <input type="text" class="form-control" placeholder="Marca" [(ngModel)]='actualizarAuto.marca' [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="col-md-6">
          <label for="modelo" class="form-label">Modelo</label>
          <input type="number" class="form-control" id="modelo" placeholder="Modelo" [(ngModel)]='actualizarAuto.modelo' [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="col-12">
          <label for="color" class="form-label">Color</label>
          <input type="text" class="form-control" id="color" placeholder="Color auto" [(ngModel)]='actualizarAuto.color' [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="col-12">
          <label for="precio" class="form-label">Precio</label>
          <input type="number" class="form-control" id="precio" placeholder="Precio" [(ngModel)]='actualizarAuto.precio' [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>
</div>